.persegi_panjang {
  width: 1550px;
  height: 3450px;
  background-color: #000367;
  border-radius: 3rem;
  margin-right: auto;
  margin-left: auto;
}
.navbar {
  background-color: #000367;
}
.card {
  width: 33rem;
}
body {
  height: 4000px;
}

.btn {
  margin-left: 20rem;
  padding: 10px 60px;
  background: #000367;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 030px 30px;
  color: #ffffff;
  visibility: hidden;
}
.open-popup {
  visibility: visible;
  top: 100%;
  transform: translate(-50%, -50%) scale(1);
}
.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 02px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px®10px;
}
.popup button {
  padding: 10px 60px;
  background: #000367;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

#footer {
  background-color: #000367;
  color: #ffffff;
}
#footer a {
  background-color: #000367;
  color: #ffffff;
}

.card {
  border-radius: 1.2rem;
}
.card_nominal {
  height: 5rem;
  width: 30rem;
  position: relative;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  outline: none;
  outline: 5px solid #000367;
}
input[type="radio"]:before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e2e6f3;
  top: 35px;
  right: 20px;
}
input[type="radio"]:after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 39.5px;
  right: 24.5px;
  display: none;
}
label {
  position: absolute;
  margin: 20px;
  cursor: pointer;
}
h5 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: black;
}
h2 {
  font-size: 28px;
  color: black;
}
span {
  font-weight: 400;
  font-size: 18px;
  color: #242424;
}
input[type="radio"]:hover {
  transform: scale(1.05);
}
input[type="radio"]:checked {
  border: 3px solid #478bfb;
}
input[type="radio"]:checked:after {
  background-color: #478bfb;
}
.card_pembayaran {
  height: 4rem;
  width: 30rem;
  position: relative;
}
