section {
  padding-top: 5rem;
}
.navbar {
  background-color: #000367;
}
#populer {
  background-color: #000367;
}
#promo {
  background-color: #000367;
}
#populer .card {
  border-radius: 1rem;
}
#populer img {
  border-radius: 1rem;
}
#populer .btn {
  border-radius: 1rem;
}

#games .card {
  border-radius: 1rem;
  background-color: #000367;
}
#games img {
  border-radius: 1rem;
}
#games .btn {
  border-radius: 1rem;
  background-color: #fff;
  color: #000367;
}
#games h5 {
  color: #fff;
}

#home h4 {
  text-align: center;
}
#home h1,
h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}
