@media screen and (min-width: 600px) {
  .logo {
    margin-left: 400px;
    margin-top: -175px;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      margin-left: 550px;
    }
    10% {
      opacity: 1;
      margin-left: 800px;
    }
    90% {
      opacity: 1;
      margin-left: 800px;
    }
    100% {
      opacity: 0;
      margin-left: 550px;
    }
  }
  .logotext {
    animation: slide 10s infinite;
  }
  .cap {
    animation: slide 10s infinite;
  }
  .logotext {
    margin-top: 50px;
    visibility: visible;
  }
}
@media screen and (max-width: 600px) {
  .logotext {
    text-align: center;
  }
  .cap {
    visibility: hidden;
  }
}
section {
  padding-top: 6rem;
}
.navbar {
  background-color: #21232b;
}
.navbar img {
  width: 50px;
  height: 50px;
}
#populer {
  padding-bottom: 5rem;
  background-color: #21232b;
  width: 100%;
}
#promo {
  background-color: #21232b;
  width: 100%;
}
#populer .card {
  border-radius: 1rem;
  background-color: white;
}
#populer .btn {
  border-radius: 1rem;
  background-color: #21232b;
}

#games {
  padding-bottom: 5rem;
  background-color: white;
}
#games .card {
  border-radius: 1rem;
  background-color: #21232b;
}
#games img {
  border-radius: 1rem;
}
#games .btn {
  border-radius: 1rem;
  background-color: white;
  color: #21232b;
}
#games h5 {
  color: white;
}
#unggulan {
  background-color: #21232b;
  color: #ffffff;
  padding-bottom: 5rem;
}

#footer {
  background-color: white;
  color: #21232b;
  padding-bottom: 1rem;
}
#footer a {
  color: #21232b;
}

.card {
  margin-bottom: 35px;
  margin-top: 35px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.card img {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  border: 2px solid white;
  border-radius: 1rem;
}

.logo img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
}
